{% macro common_form_field(field) %}
    <div class="common-form__field-wrapper">
        {% if field.label.text %}
            <label class="common-form__label" for="{{ field.id }}">
                {{ field.label.text }}: {% if field.flags.required %} *{% endif %}
            </label>
        {% endif %}
        {{ field(**kwargs) }}
        {% if field.errors %}
            <div class="form-errors">
                <ul>
                    {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endmacro %}


{% macro login_form_field(field) %}
    <div class="login-form__field-wrapper">
        {% if field.label.text %}
            <label for="{{ field.id }}">{{ field.label.text }}:&nbsp;</label>
        {% endif %}
        {{ field(**kwargs) }}
    </div>
{% endmacro %}

{% macro common_form (form, action) %}
    <div class="common-form-wrapper">
    <form method="POST" action="{{ action }}">
    {{ form.hidden_tag() }}
    <ul>

    {% for field in form if field.widget.input_type != 'hidden' %}
          {{ common_form_field(field, class_='input common-form__input') }}
    {% endfor %}
    </ul>
    <input type="submit" class="button common-form__submit" value="Save">
    </form>
    </div>
{% endmacro %}